In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from scipy.stats import pearsonr
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import SGDRegressor
import statsmodels.api as sm
from sklearn.model_selection import GridSearchCV
import seaborn as sns

In [15]:
df_total = pd.read_csv(r'C:\Users\VT.33\Desktop\COVID19_VN_MOH_MLmodels\Predicting LOS (Length of Stay)\assets\Processed data\df_total.csv', encoding="utf-8")

df_train = pd.read_csv(r'C:\Users\VT.33\Desktop\COVID19_VN_MOH_MLmodels\Predicting LOS (Length of Stay)\assets\Processed data\df_train.csv', encoding="utf-8")

df_test = pd.read_csv(r'C:\Users\VT.33\Desktop\COVID19_VN_MOH_MLmodels\Predicting LOS (Length of Stay)\assets\Processed data\df_test.csv', encoding="utf-8")

In [16]:
df_total.info()
df_total.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   AGE                 163 non-null    float64
 1   SEX                 163 non-null    int64
 2   ORIGIN_EUROPE       163 non-null    int64
 3   ORIGIN_CHINA        163 non-null    int64
 4   ORIGIN_US           163 non-null    int64
 5   ORIGIN_DOMESTIC     163 non-null    int64
 6   DAYS_OF_ONSET       163 non-null    int64
 7   ONSET_FEVER         163 non-null    int64
 8   ONSET_COUGH         163 non-null    int64
 9   ONSET_TIRED         163 non-null    int64
 10  ONSET_THROAT        163 non-null    int64
 11  ONSET_RES           163 non-null    int64
 12  BACKGROUND_DISEASE  163 non-null    int64
 13  HOSPITAL            163 non-null    int64
 14  LOS                 16 non-null     float64
dtypes: float64(2), int64(13)
memory usage: 19.2 KB

,AGE,SEX,ORIGIN_EUROPE,ORIGIN_CHINA,ORIGIN_US,ORIGIN_DOMESTIC,DAYS_OF_ONSET,ONSET_FEVER,ONSET_COUGH,ONSET_TIRED,ONSET_THROAT,ONSET_RES,BACKGROUND_DISEASE,HOSPITAL,LOS
0,66.0,1,0,1,0,0,6,0,0,0,0,0,2,1,20.0
1,28.0,1,0,1,0,0,3,0,0,0,0,0,0,1,12.0
2,25.0,0,0,1,0,0,7,0,0,0,0,0,0,0,4.0
3,29.0,1,0,1,0,0,9,0,0,0,0,0,0,0,19.0
4,23.0,0,0,1,0,0,5,0,0,0,0,0,0,0,11.0

In [17]:
df_train.info()
df_train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   AGE                 16 non-null     float64
 1   SEX                 16 non-null     int64
 2   ORIGIN_EUROPE       16 non-null     int64
 3   ORIGIN_CHINA        16 non-null     int64
 4   ORIGIN_US           16 non-null     int64
 5   ORIGIN_DOMESTIC     16 non-null     int64
 6   DAYS_OF_ONSET       16 non-null     int64
 7   ONSET_FEVER         16 non-null     int64
 8   ONSET_COUGH         16 non-null     int64
 9   ONSET_TIRED         16 non-null     int64
 10  ONSET_THROAT        16 non-null     int64
 11  ONSET_RES           16 non-null     int64
 12  BACKGROUND_DISEASE  16 non-null     int64
 13  HOSPITAL            16 non-null     int64
 14  LOS                 16 non-null     int64
dtypes: float64(1), int64(14)
memory usage: 2.0 KB

,AGE,SEX,ORIGIN_EUROPE,ORIGIN_CHINA,ORIGIN_US,ORIGIN_DOMESTIC,DAYS_OF_ONSET,ONSET_FEVER,ONSET_COUGH,ONSET_TIRED,ONSET_THROAT,ONSET_RES,BACKGROUND_DISEASE,HOSPITAL,LOS
0,66.0,1,0,1,0,0,6,0,0,0,0,0,2,1,20
1,28.0,1,0,1,0,0,3,0,0,0,0,0,0,1,12
2,25.0,0,0,1,0,0,7,0,0,0,0,0,0,0,4
3,29.0,1,0,1,0,0,9,0,0,0,0,0,0,0,19
4,23.0,0,0,1,0,0,5,0,0,0,0,0,0,0,11

In [18]:
df_test.info()
df_test.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   AGE                 147 non-null    int64
 1   SEX                 147 non-null    int64
 2   ORIGIN_EUROPE       147 non-null    int64
 3   ORIGIN_CHINA        147 non-null    int64
 4   ORIGIN_US           147 non-null    int64
 5   ORIGIN_DOMESTIC     147 non-null    int64
 6   DAYS_OF_ONSET       147 non-null    int64
 7   ONSET_FEVER         147 non-null    int64
 8   ONSET_COUGH         147 non-null    int64
 9   ONSET_TIRED         147 non-null    int64
 10  ONSET_THROAT        147 non-null    int64
 11  ONSET_RES           147 non-null    int64
 12  BACKGROUND_DISEASE  147 non-null    int64
 13  HOSPITAL            147 non-null    int64
 14  LOS                 0 non-null      float64
dtypes: float64(1), int64(14)
memory usage: 17.4 KB

,AGE,SEX,ORIGIN_EUROPE,ORIGIN_CHINA,ORIGIN_US,ORIGIN_DOMESTIC,DAYS_OF_ONSET,ONSET_FEVER,ONSET_COUGH,ONSET_TIRED,ONSET_THROAT,ONSET_RES,BACKGROUND_DISEASE,HOSPITAL,LOS
0,26,0,1,0,0,0,5,1,1,1,0,0,0,0,NaN
1,27,1,0,0,0,0,7,0,1,0,1,0,0,0,NaN
2,27,0,0,0,0,1,0,0,0,0,0,0,0,0,NaN
3,64,1,0,0,0,1,0,0,0,0,0,0,1,0,NaN
4,61,1,1,0,0,0,2,0,1,1,0,0,0,0,NaN

In [29]:
LOS = df_train['LOS'].values

features = df_total.drop(columns = ['LOS'])

In [30]:
X_train = df_train.drop(columns = ['LOS'])

y_train = LOS

X_test = df_test.drop(columns = ['LOS'])

In [31]:
y_train

array([20, 12,  4, 19, 11,  4, 18,  7,  6, 16, 14, 14, 11,  9,  9, 12],
      dtype=int64)

In [33]:
models = [SGDRegressor(random_state = 0),
         GradientBoostingRegressor(random_state = 0),
         LinearRegression(),
         KNeighborsRegressor(),
         RandomForestRegressor(random_state = 0)]


for model in models:
    
    # Instantiate and fit Regressor Model
    reg_model = model
    reg_model.fit(X_train, y_train)
    
    # Make predictions with model
    y_test_preds = reg_model.predict(X_test)
    
    # Grab model name and store results associated with model
    name = str(model).split("(")[0]
    print('{} done.'.format(name))

SGDRegressor done.
GradientBoostingRegressor done.
LinearRegression done.
KNeighborsRegressor done.
RandomForestRegressor done.

In [34]:
reg_model = GradientBoostingRegressor(random_state=0)   
reg_model.fit(X_train, y_train)
y_test_preds = reg_model.predict(X_test)
y_test_preds

array([ 6.66481529, 13.78465759, 11.39682419, 16.23510518, 13.89836159,
       12.06145665, 14.02103175, 11.64939047, 13.79626544, 14.02103175,
       12.53420812, 17.33227984, 13.6968368 , 15.38972683, 14.36420972,
        8.46145906, 13.01808555, 12.98323334, 11.39682419, 15.92005464,
       12.9238571 , 11.39682419,  9.68956297, 12.02137952, 10.99505167,
       12.53130233, 13.98928998, 13.57284112,  9.79737285,  7.06862215,
       15.92005464,  6.61709791, 14.91349009, 14.49380909, 13.01067258,
       13.47852639, 13.01808555,  6.18376458,  6.13681219,  6.13681219,
       13.92160311,  8.12012258,  7.06862215, 12.09796899, 16.24559942,
       14.67673872, 13.47852639,  9.05378728, 11.39682419, 13.47852639,
        6.57014553, 15.14191414,  6.30229204, 14.67673872, 13.54226059,
        8.12012258, 14.67673872, 14.61300452, 15.91206946, 12.53420812,
        8.12012258, 14.61300452, 14.04132041, 14.67673872, 14.61300452,
       13.54226059, 13.02441157, 14.61300452, 14.61300452, 12.64259879,
        7.50195548,  7.83309386, 13.47852639, 12.09746164, 15.30739398,
       13.41115861, 14.61300452, 14.01152923, 13.41115861, 13.44398315,
        6.18376458,  6.18376458, 12.09796899, 13.01808555,  8.16707496,
       13.50771735, 14.57846128,  7.12931352,  7.08236114, 13.47852639,
        8.66289471, 14.66700103, 15.12817515, 13.24384632,  8.12012258,
        7.08236114, 13.53252289, 13.47489281, 15.91206946, 12.42349245,
        9.57522749, 13.91709129, 11.99015912, 12.51756333, 11.77369209,
       13.47852639, 13.54226059, 11.96448765, 13.92555579, 12.53130233,
       15.21935314, 14.61300452, 14.61300452,  6.13681219, 14.61300452,
        8.12012258, 14.00729276, 14.67673872, 10.96349086, 13.47852639,
        6.13681219, 14.61300452, 13.47852639, 14.61300452, 11.39682419,
        9.25460071, 12.02027843, 14.61300452,  6.13681219, 13.54226059,
       14.67673872, 11.64939047, 14.96652052, 13.51615377, 15.92005464,
       11.39682419, 12.06145665, 10.92918307, 13.47852639, 14.61300452,
        7.51569448, 15.73226349,  8.68978817,  4.85772825, 12.89629922,
       12.9238571 , 15.92005464])