In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('/Users/ngohoanganh/Downloads/events.csv')

In [13]:
new_df = df[(df['longitude'] > 80) & (df['latitude'] > 18)]

In [14]:
new_df.describe()

           event_id     device_id     longitude      latitude
count  2.202143e+06  2.202143e+06  2.202143e+06  2.202143e+06
mean   1.626314e+06 -6.463036e+16  1.151002e+02  3.188600e+01
std    9.392544e+05  5.287758e+18  5.827468e+00  6.090890e+00
min    1.000000e+00 -9.222957e+18  8.026000e+01  1.821000e+01
25%    8.126125e+05 -4.674446e+18  1.127500e+02  2.780000e+01
50%    1.626381e+06 -4.820255e+16  1.158300e+02  3.126000e+01
75%    2.439853e+06  4.505543e+18  1.193000e+02  3.661000e+01
max    3.252950e+06  9.222356e+18  1.397700e+02  5.233000e+01

In [15]:
new_df = new_df[1:250001]

In [17]:
new_df.describe()

            event_id     device_id      longitude       latitude
count  250000.000000  2.500000e+05  250000.000000  250000.000000
mean   184648.275588 -4.641367e+16     115.120874      31.898079
std    106582.873607  5.284665e+18       5.831755       6.094276
min         2.000000 -9.222957e+18      80.270000      18.210000
25%     92447.750000 -4.646087e+18     112.810000      27.820000
50%    184674.500000 -2.507954e+16     115.850000      31.270000
75%    276903.500000  4.517851e+18     119.320000      36.620000
max    369344.000000  9.222356e+18     139.680000      51.560000

In [16]:
new_df.to_csv('/Users/ngohoanganh/Downloads/events_250k.csv')