In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
path = './events_250k.csv'
data = pd.read_csv(path)

data
# pd.set_option('display.float_format', lambda x: '%.0f' % x)

,Unnamed: 0,event_id,device_id,timestamp,longitude,latitude
0,1,2,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97
1,2,3,-4833982096941402721,2016-05-01 00:08:05,106.60,29.70
2,3,4,-6815121365017318426,2016-05-01 00:06:40,104.27,23.28
3,4,5,-5373797595892518570,2016-05-01 00:07:18,115.88,28.66
4,6,7,5990807147117726237,2016-05-01 00:15:13,113.73,23.00
5,7,8,1782450055857303792,2016-05-01 00:15:35,113.94,34.70
6,9,10,-8195816569128397698,2016-05-01 00:41:31,119.34,26.04
7,10,11,8663743929678393765,2016-05-01 00:44:13,106.71,39.51
8,11,12,8663743929678393765,2016-05-01 00:45:30,106.71,39.51
9,12,13,8640114685470534007,2016-05-01 00:44:53,117.73,34.92
10,13,14,-5373797595892518570,2016-05-01 00:36:21,115.88,28.66
11,14,15,2504414082456157897,2016-05-01 00:40:45,120.62,31.31
12,16,17,-460438353776005388,2016-05-01 00:06:33,118.44,24.71
13,17,18,2271670507584822423,2016-05-01 00:06:27,111.46,35.64
14,19,20,6130108008013735751,2016-05-01 00:17:33,129.51,42.91
15,20,21,8546251726684589793,2016-05-01 00:41:54,120.66,31.31
16,21,22,-1663840927569383079,2016-05-01 00:43:15,116.45,33.93
17,22,23,1186608308763918427,2016-04-30 23:56:43,113.58,23.55
18,23,24,-6672877056143385791,2016-04-30 23:57:33,87.59,43.82
19,24,25,-4984460214693442980,2016-04-30 23:58:37,120.07,31.75
20,25,26,4830593356246717684,2016-05-01 00:45:41,121.57,38.93
21,26,27,-2668732172869127974,2016-05-01 00:46:35,132.03,47.25
22,27,28,-7745575547510100089,2016-05-01 00:27:20,117.27,34.82
23,28,29,7166563712658305181,2016-05-01 00:31:40,117.96,28.47
24,30,31,-5106447321904784333,2016-05-01 00:29:12,108.62,34.09
25,31,32,1682568851428303645,2016-05-01 00:29:35,116.42,39.90
26,32,33,-4993407482707979325,2016-05-01 00:42:07,113.39,23.12
27,33,34,-2305954534288337474,2016-05-01 00:55:41,118.33,35.05
28,35,36,-6495303330948269546,2016-05-01 00:26:58,113.80,34.02
29,36,37,-2114959700836660347,2016-05-01 00:26:58,115.18,38.18
...,...,...,...,...,...,...
249970,369305,369306,-8469854388006282064,2016-05-05 23:56:00,116.43,39.94
249971,369308,369309,-612633994720441172,2016-05-05 23:18:54,116.33,39.85
249972,369309,369310,-3059416900853960989,2016-05-05 22:58:48,114.47,37.22
249973,369310,369311,-3351972966080214640,2016-05-05 22:59:06,121.50,31.07
249974,369312,369313,4732184824431019527,2016-05-05 22:53:10,116.34,40.07
249975,369313,369314,3624464874212085990,2016-05-05 22:58:01,109.63,22.57
249976,369314,369315,8430608775917013701,2016-05-05 22:53:55,121.56,38.92
249977,369315,369316,-8301650690669786822,2016-05-05 22:58:45,119.41,32.20
249978,369316,369317,2665494603472659387,2016-05-05 22:59:09,114.61,27.38
249979,369319,369320,4732184824431019527,2016-05-05 23:05:38,116.34,40.07
249980,369320,369321,-1069076475536059963,2016-05-05 23:01:25,113.00,28.15
249981,369321,369322,5204066764634789305,2016-05-05 23:05:20,121.49,31.16
249982,369322,369323,5204066764634789305,2016-05-05 23:05:50,121.49,31.16
249983,369323,369324,3407190195046728826,2016-05-05 23:27:22,121.39,37.52
249984,369324,369325,335959775863529897,2016-05-05 23:27:50,121.43,31.02
249985,369325,369326,3407190195046728826,2016-05-05 23:28:27,121.39,37.52
249986,369327,369328,-2021825409627223854,2016-05-05 23:33:31,120.37,36.26
249987,369328,369329,1988200384436134370,2016-05-05 23:45:36,114.23,22.74
249988,369329,369330,4229754489691870487,2016-05-05 23:46:10,121.44,29.91
249989,369330,369331,-3011931470468701050,2016-05-05 23:53:09,116.18,39.93
249990,369331,369332,8864190395087535026,2016-05-05 23:58:16,122.76,40.85
249991,369332,369333,6929926766644327152,2016-05-05 23:28:37,117.01,32.64
249992,369335,369336,-1945835327787113275,2016-05-05 23:02:28,104.67,23.16
249993,369336,369337,-4272349824279327690,2016-05-05 23:02:47,120.60,30.59
249994,369337,369338,-2173159256130980571,2016-05-05 23:03:01,103.98,30.76
249995,369338,369339,-7683978150618390285,2016-05-05 23:09:37,114.21,30.67
249996,369339,369340,-7387945516430081335,2016-05-05 23:48:34,113.44,34.67
249997,369340,369341,-3969281659360747781,2016-05-05 23:45:51,122.99,41.12
249998,369342,369343,-189903359027977027,2016-05-05 23:21:54,116.29,23.29
249999,369343,369344,-1835137722743541453,2016-05-05 23:21:48,117.35,25.96

In [3]:
data['device_id'].nunique()

23092

In [4]:
merge = data.sort_values(by=['device_id', 'timestamp'])
merge

,Unnamed: 0,event_id,device_id,timestamp,longitude,latitude
155058,229086,229087,-9222956879900151005,2016-05-06 15:33:50,113.24,23.19
155045,229068,229069,-9222956879900151005,2016-05-06 15:34:19,113.24,23.19
139136,205470,205471,-9222956879900151005,2016-05-06 15:36:46,113.24,23.19
143336,211710,211711,-9222956879900151005,2016-05-06 21:26:14,113.24,23.19
196024,289563,289564,-9222956879900151005,2016-05-06 21:26:44,113.24,23.19
231066,341278,341279,-9222956879900151005,2016-05-07 07:03:34,113.24,23.19
89197,131848,131849,-9222956879900151005,2016-05-07 12:06:35,113.24,23.19
8571,12678,12679,-9222956879900151005,2016-05-07 12:18:35,113.24,23.19
231161,341410,341411,-9221825537663503111,2016-05-01 08:45:40,113.77,34.64
57291,84715,84716,-9221825537663503111,2016-05-01 08:50:11,113.48,34.92
230855,340951,340952,-9221825537663503111,2016-05-05 07:21:49,113.36,33.63
57582,85157,85158,-9221825537663503111,2016-05-05 13:33:32,113.36,33.63
201022,296850,296851,-9221825537663503111,2016-05-06 06:52:43,113.36,33.63
165820,245032,245033,-9221825537663503111,2016-05-06 07:02:33,113.36,33.62
223308,329862,329863,-9221825537663503111,2016-05-06 07:05:49,113.36,33.62
56811,83975,83976,-9221825537663503111,2016-05-06 07:08:30,113.36,33.62
50502,74538,74539,-9221825537663503111,2016-05-07 07:52:34,113.36,33.63
50504,74541,74542,-9221825537663503111,2016-05-07 07:54:27,113.36,33.63
147852,218345,218346,-9221026417907250887,2016-05-01 07:33:14,114.36,30.87
249235,368207,368208,-9221026417907250887,2016-05-01 08:32:03,114.37,30.88
4357,6401,6402,-9221026417907250887,2016-05-02 07:56:49,114.36,30.87
97165,143691,143692,-9221026417907250887,2016-05-02 20:12:30,114.36,30.87
97164,143690,143691,-9221026417907250887,2016-05-02 20:12:36,114.36,30.87
176922,261439,261440,-9221026417907250887,2016-05-02 20:19:27,114.36,30.87
194513,287316,287317,-9221026417907250887,2016-05-02 20:22:03,114.36,30.87
183496,271061,271062,-9221026417907250887,2016-05-03 07:48:08,114.36,30.87
115778,170956,170957,-9221026417907250887,2016-05-03 09:03:52,114.36,30.87
115777,170955,170956,-9221026417907250887,2016-05-03 09:04:10,114.36,30.87
179177,264746,264747,-9221026417907250887,2016-05-04 22:30:08,114.36,30.87
230832,340912,340913,-9221026417907250887,2016-05-05 07:04:27,114.36,30.87
...,...,...,...,...,...,...
55259,81595,81596,9219164468944552013,2016-05-05 06:22:12,120.17,30.27
202878,299612,299613,9219164468944552013,2016-05-05 08:09:27,120.16,30.24
179268,264892,264893,9219164468944552013,2016-05-05 22:40:58,120.17,30.27
186787,275847,275848,9219164468944552013,2016-05-06 09:58:11,120.16,30.24
235785,348134,348135,9219164468944552013,2016-05-06 11:47:42,120.16,30.24
243081,358920,358921,9219164468944552013,2016-05-06 13:23:59,120.16,30.21
103441,152894,152895,9219164468944552013,2016-05-06 14:12:33,120.15,30.24
192712,284624,284625,9219164468944552013,2016-05-06 17:08:43,120.16,30.24
107977,159432,159433,9219164468944552013,2016-05-06 20:12:38,120.17,30.27
165119,243979,243980,9219164468944552013,2016-05-07 06:19:05,120.17,30.27
87402,129155,129156,9219164468944552013,2016-05-07 10:05:49,120.16,30.24
96503,142708,142709,9219842210460037807,2016-05-04 19:29:55,101.72,26.52
96504,142709,142710,9219842210460037807,2016-05-04 19:32:39,101.72,26.52
203388,300362,300363,9219937375310355234,2016-05-01 09:36:05,111.06,31.11
168868,249583,249584,9219937375310355234,2016-05-02 11:03:32,111.06,31.11
234411,346183,346184,9219937375310355234,2016-05-02 11:04:32,111.06,31.11
8826,13044,13045,9219937375310355234,2016-05-02 13:00:06,111.06,31.11
141429,208847,208848,9219937375310355234,2016-05-02 19:36:44,111.06,31.11
38773,57292,57293,9219937375310355234,2016-05-04 20:18:21,111.06,31.12
73494,108781,108782,9219937375310355234,2016-05-04 21:19:49,111.06,31.11
147503,217822,217823,9220562120895859549,2016-05-04 06:26:23,118.54,33.01
240677,355348,355349,9221586026451102237,2016-05-01 17:15:50,104.18,31.22
224853,332203,332204,9221586026451102237,2016-05-05 09:07:55,104.18,31.21
233730,345160,345161,9221586026451102237,2016-05-05 10:06:52,104.18,31.21
195854,289319,289320,9221586026451102237,2016-05-05 21:28:59,104.23,31.33
245977,363273,363274,9221586026451102237,2016-05-05 21:30:01,104.23,31.33
79247,117149,117150,9221586026451102237,2016-05-05 21:40:57,104.23,31.33
109925,162241,162242,9221586026451102237,2016-05-05 21:41:20,104.23,31.33
36006,53197,53198,9222355582733155698,2016-05-02 18:43:08,116.42,39.78
193028,285096,285097,9222355582733155698,2016-05-02 18:44:50,116.42,39.78

In [5]:
timestamp = merge.iloc[:, 3:4].values
device_id = merge.iloc[:, 2:3].values
latitude = merge.iloc[:, 5:6].values #y
latitude = np.reshape(latitude, len(latitude)).tolist()
longitude = merge.iloc[:, 4:5].values #x
longitude = np.reshape(longitude, len(longitude))

In [6]:
len(np.unique(device_id))

23092

In [7]:
import math

arr = [0.0]
for i in range (1, len(latitude)):
    if device_id[i - 1] == device_id[i]:
        distance = math.sqrt(pow(longitude[i] - longitude[i - 1], 2) + pow(latitude[i] - latitude[i - 1], 2))
        arr.append(distance)
    elif device_id[i - 1] != device_id[i]:
        arr.append(0)
    else:
        continue

len(arr)

250000

In [8]:
arr = np.array(arr)
arr = np.reshape(arr, (len(arr), 1))
df = np.concatenate((device_id, np.array(arr)), axis=1)
df = pd.DataFrame(data=df, columns=['device_id', 'distance'])
df.head()

df

           device_id  distance
0      -9.222957e+18  0.000000
1      -9.222957e+18  0.000000
2      -9.222957e+18  0.000000
3      -9.222957e+18  0.000000
4      -9.222957e+18  0.000000
5      -9.222957e+18  0.000000
6      -9.222957e+18  0.000000
7      -9.222957e+18  0.000000
8      -9.221826e+18  0.000000
9      -9.221826e+18  0.403113
10     -9.221826e+18  1.295569
11     -9.221826e+18  0.000000
12     -9.221826e+18  0.000000
13     -9.221826e+18  0.010000
14     -9.221826e+18  0.000000
15     -9.221826e+18  0.000000
16     -9.221826e+18  0.010000
17     -9.221826e+18  0.000000
18     -9.221026e+18  0.000000
19     -9.221026e+18  0.014142
20     -9.221026e+18  0.014142
21     -9.221026e+18  0.000000
22     -9.221026e+18  0.000000
23     -9.221026e+18  0.000000
24     -9.221026e+18  0.000000
25     -9.221026e+18  0.000000
26     -9.221026e+18  0.000000
27     -9.221026e+18  0.000000
28     -9.221026e+18  0.000000
29     -9.221026e+18  0.000000
...              ...       ...
249970  9.219164e+18  0.000000
249971  9.219164e+18  0.031623
249972  9.219164e+18  0.031623
249973  9.219164e+18  0.031623
249974  9.219164e+18  0.000000
249975  9.219164e+18  0.030000
249976  9.219164e+18  0.031623
249977  9.219164e+18  0.010000
249978  9.219164e+18  0.031623
249979  9.219164e+18  0.000000
249980  9.219164e+18  0.031623
249981  9.219842e+18  0.000000
249982  9.219842e+18  0.000000
249983  9.219937e+18  0.000000
249984  9.219937e+18  0.000000
249985  9.219937e+18  0.000000
249986  9.219937e+18  0.000000
249987  9.219937e+18  0.000000
249988  9.219937e+18  0.010000
249989  9.219937e+18  0.010000
249990  9.220562e+18  0.000000
249991  9.221586e+18  0.000000
249992  9.221586e+18  0.010000
249993  9.221586e+18  0.000000
249994  9.221586e+18  0.130000
249995  9.221586e+18  0.000000
249996  9.221586e+18  0.000000
249997  9.221586e+18  0.000000
249998  9.222356e+18  0.000000
249999  9.222356e+18  0.000000

[250000 rows x 2 columns]

In [9]:
df['device_id'].nunique()

23091

In [10]:
len(data['device_id'].unique())

23092

In [11]:
distance = df.groupby(['device_id']).agg('sum')
distance.head()

               distance
device_id
-9.222957e+18  0.000000
-9.221826e+18  1.718682
-9.221026e+18  0.028284
-9.220062e+18  0.070711
-9.220054e+18  1.734042

In [12]:
distance = distance.rename(columns={'distance': 'total_distance'})

In [13]:
distance = distance.sort_values(by=['total_distance'], ascending = False)
distance.head()

               total_distance
device_id
 1.186608e+18    30383.101056
 3.915082e+18      846.007469
-7.931820e+18      466.085192
 5.518687e+18      434.733910
 6.713676e+18      374.937844

In [14]:
distance.to_csv('./total_distance.csv')