In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('./finished_data.csv')

In [13]:
df.describe()

,Unnamed: 0,Unnamed: 0.1,event_id,device_id,longitude,latitude,cluster
count,250000.000000,250000.000000,250000.000000,2.500000e+05,250000.000000,250000.000000,250000.000000
mean,124999.500000,184647.275588,184648.275588,-4.641367e+16,115.120874,31.898079,124993.887828
std,72168.927986,106582.873607,106582.873607,5.284665e+18,5.831755,6.094276,72168.639860
min,0.000000,1.000000,2.000000,-9.222957e+18,80.270000,18.210000,0.000000
25%,62499.750000,92446.750000,92447.750000,-4.646087e+18,112.810000,27.820000,62493.000000
50%,124999.500000,184673.500000,184674.500000,-2.507954e+16,115.850000,31.270000,124988.000000
75%,187499.250000,276902.500000,276903.500000,4.517851e+18,119.320000,36.620000,187491.250000
max,249999.000000,369343.000000,369344.000000,9.222356e+18,139.680000,51.560000,249999.000000

In [4]:
df['cluster'].head()

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
Name: cluster, dtype: float64

In [14]:
df['device_id'].nunique()

23092

In [5]:
df_cluster_value_counts = df['cluster'].value_counts()

In [7]:
df_clusters = df[df['cluster'].isin(df_cluster_value_counts[df_cluster_value_counts>1].index)]

In [8]:
df_clusters.head()

,Unnamed: 0,Unnamed: 0.1,event_id,device_id,timestamp,longitude,latitude,cluster
13,13,160439,160440,-7789240705679370662,2016-04-30 23:56:45,113.15,23.03,13.0
14,14,186168,186169,6857200119156739592,2016-04-30 23:56:47,104.00,30.00,14.0
30,30,52,53,-4047091239451547677,2016-04-30 23:57:27,113.21,22.59,30.0
31,31,64,65,-3038263123962440629,2016-04-30 23:57:29,113.35,23.06,31.0
33,33,334381,334382,-6605793912120978435,2016-04-30 23:57:34,113.17,23.09,13.0

In [9]:
# test sample 
df_clusters[df_clusters['cluster'] == 13]

,Unnamed: 0,Unnamed: 0.1,event_id,device_id,timestamp,longitude,latitude,cluster
13,13,160439,160440,-7789240705679370662,2016-04-30 23:56:45,113.15,23.03,13.0
33,33,334381,334382,-6605793912120978435,2016-04-30 23:57:34,113.17,23.09,13.0
37,37,53,54,-7868922663453980926,2016-04-30 23:57:41,113.11,23.04,13.0
40,40,65382,65383,-4075512578240306617,2016-04-30 23:57:49,113.23,23.07,13.0
69,69,29125,29126,-6605793912120978435,2016-04-30 23:59:25,113.17,23.09,13.0

In [12]:
df_clusters.describe()

,Unnamed: 0,Unnamed: 0.1,event_id,device_id,longitude,latitude,cluster
count,59060.00000,59060.000000,59060.000000,5.906000e+04,59060.000000,59060.000000,59060.000000
mean,127779.28471,185036.323705,185037.323705,-1.997653e+16,115.018229,31.486227,127755.528480
std,70714.90511,106063.795165,106063.795165,5.261557e+18,5.384660,6.081881,70714.591206
min,13.00000,4.000000,5.000000,-9.222957e+18,82.900000,18.210000,13.000000
25%,68023.50000,94506.000000,94507.000000,-4.519304e+18,113.260000,26.650000,68001.000000
50%,128217.50000,184891.000000,184892.000000,-6.331415e+16,115.980000,31.070000,128190.500000
75%,189288.00000,276534.750000,276535.750000,4.454778e+18,118.820000,36.680000,189265.000000
max,249990.00000,369337.000000,369338.000000,9.219164e+18,132.070000,50.240000,249974.000000

In [15]:
df_clusters.to_csv('./finished_data_clusters.csv')

In [16]:
df_gd = df.groupby('device_id')

In [18]:
# number of people
i = 23091
# number of threshold of points 
thres_points = 5