In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import math

In [2]:
df = pd.read_csv('./events_250k.csv')

In [3]:
df['timestamp'] = pd.to_datetime(df['timestamp'], format = "%Y-%m-%d %H:%M:%S")
df.head()

,Unnamed: 0,event_id,device_id,timestamp,longitude,latitude
0,1,2,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97
1,2,3,-4833982096941402721,2016-05-01 00:08:05,106.60,29.70
2,3,4,-6815121365017318426,2016-05-01 00:06:40,104.27,23.28
3,4,5,-5373797595892518570,2016-05-01 00:07:18,115.88,28.66
4,6,7,5990807147117726237,2016-05-01 00:15:13,113.73,23.00

In [4]:
df = df.sort_values('timestamp')
df.head()

,Unnamed: 0,event_id,device_id,timestamp,longitude,latitude
225486,333162,333163,8318950298181419630,2016-04-30 23:53:05,114.20,36.71
197659,291991,291992,8189881002794531237,2016-04-30 23:53:05,121.34,30.72
108726,160530,160531,-3879335903763469416,2016-04-30 23:53:59,122.13,40.25
47,56,57,8292388373526453818,2016-04-30 23:54:44,116.46,39.89
81223,120011,120012,2346793034696706898,2016-04-30 23:55:05,118.08,24.46

In [5]:
df = df.reset_index(drop=True)
df

,Unnamed: 0,event_id,device_id,timestamp,longitude,latitude
0,333162,333163,8318950298181419630,2016-04-30 23:53:05,114.20,36.71
1,291991,291992,8189881002794531237,2016-04-30 23:53:05,121.34,30.72
2,160530,160531,-3879335903763469416,2016-04-30 23:53:59,122.13,40.25
3,56,57,8292388373526453818,2016-04-30 23:54:44,116.46,39.89
4,120011,120012,2346793034696706898,2016-04-30 23:55:05,118.08,24.46
5,55,56,-3414631284970241628,2016-04-30 23:55:06,114.44,36.64
6,186147,186148,-4022940422105061059,2016-04-30 23:55:08,117.81,39.25
7,174556,174557,-6430283018891591407,2016-04-30 23:55:13,113.60,34.75
8,160531,160532,5249882969254765383,2016-04-30 23:55:34,118.03,39.44
9,239794,239795,-1168532065303398550,2016-04-30 23:56:15,118.81,32.02
10,65231,65232,7566051280927280645,2016-04-30 23:56:15,116.29,40.11
11,239915,239916,-5320544664470122582,2016-04-30 23:56:41,120.91,31.38
12,22,23,1186608308763918427,2016-04-30 23:56:43,113.58,23.55
13,160439,160440,-7789240705679370662,2016-04-30 23:56:45,113.15,23.03
14,186168,186169,6857200119156739592,2016-04-30 23:56:47,104.00,30.00
15,65380,65381,4585619300496057111,2016-04-30 23:56:47,116.33,39.76
16,266793,266794,468485580978604552,2016-04-30 23:56:49,112.84,35.50
17,160477,160478,-9186057251409486602,2016-04-30 23:56:50,103.97,30.50
18,65238,65239,5008172215967095802,2016-04-30 23:56:52,114.23,39.43
19,69405,69406,-1976764231358844252,2016-04-30 23:56:53,106.53,29.58
20,333115,333116,-6298312208561881731,2016-04-30 23:56:57,117.72,38.27
21,51,52,-805165251400681658,2016-04-30 23:57:03,105.62,27.23
22,328464,328465,1464720690909736450,2016-04-30 23:57:10,119.96,31.80
23,266707,266708,-3491449487057579071,2016-04-30 23:57:18,113.92,22.66
24,292007,292008,9032751590435469715,2016-04-30 23:57:18,114.76,38.20
25,65381,65382,1059108490518975017,2016-04-30 23:57:19,104.74,31.78
26,69423,69424,-5019693426237125362,2016-04-30 23:57:22,113.28,23.22
27,239916,239917,3477368667725561691,2016-04-30 23:57:23,108.37,22.80
28,37,38,-7694547856539765687,2016-04-30 23:57:25,114.43,30.51
29,334208,334209,7566051280927280645,2016-04-30 23:57:25,116.29,40.11
...,...,...,...,...,...,...
249970,291862,291863,-1838836093728125150,2016-05-07 23:54:45,120.29,31.51
249971,266599,266600,-4882714793096602370,2016-05-07 23:54:45,114.33,30.65
249972,63161,63162,-7572306077143068763,2016-05-07 23:54:47,102.73,25.06
249973,115524,115525,-5448486442796976825,2016-05-07 23:54:49,110.41,34.84
249974,28900,28901,5563127744213603471,2016-05-07 23:54:55,102.74,25.12
249975,325138,325139,-3760462351578992996,2016-05-07 23:55:01,117.00,36.62
249976,119774,119775,9194258367022977352,2016-05-07 23:55:02,115.18,29.87
249977,325067,325068,8490622669015199443,2016-05-07 23:55:02,114.34,36.10
249978,170661,170662,-5033211460860064548,2016-05-07 23:55:03,104.00,30.00
249979,115578,115579,-6190615731075717748,2016-05-07 23:55:05,113.41,22.49
249980,170662,170663,-8224497140918059574,2016-05-07 23:55:07,121.68,38.91
249981,28962,28963,1030503802431645749,2016-05-07 23:55:08,113.93,22.49
249982,215035,215036,1239496821241570342,2016-05-07 23:55:08,114.25,30.65
249983,63180,63181,-2658501971689738114,2016-05-07 23:55:11,109.35,33.85
249984,291904,291905,-4710990019666264669,2016-05-07 23:55:14,106.62,26.61
249985,150419,150420,-2227309926726571695,2016-05-07 23:55:16,113.01,28.13
249986,325246,325247,-3856204492624336851,2016-05-07 23:55:16,113.68,22.80
249987,291863,291864,-6369385624873341718,2016-05-07 23:55:19,118.04,36.80
249988,266537,266538,-8292007616209589157,2016-05-07 23:55:22,106.07,29.85
249989,115667,115668,3671656244021464361,2016-05-07 23:55:25,114.28,30.49
249990,266645,266646,1504781193071925359,2016-05-07 23:55:27,102.71,25.07
249991,28901,28902,-8972483106221612558,2016-05-07 23:55:35,112.61,26.91
249992,325247,325248,-1666194097797895898,2016-05-07 23:55:36,111.94,25.58
249993,325139,325140,-2797163923486708969,2016-05-07 23:55:45,117.15,36.16
249994,28894,28895,-4674445567034509038,2016-05-07 23:55:50,118.83,31.91
249995,325068,325069,-3903059712853419884,2016-05-07 23:55:51,109.19,34.74
249996,63154,63155,3915082290673137129,2016-05-07 23:55:57,116.39,39.91
249997,266646,266647,-4360669416573647160,2016-05-07 23:55:58,110.52,24.20
249998,239697,239698,8371894969064070025,2016-05-07 23:57:02,114.14,30.49
249999,291905,291906,8020545447067246919,2016-05-08 00:00:00,112.80,22.25

In [6]:
df['cluster'] = np.nan 
df.head()

,Unnamed: 0,event_id,device_id,timestamp,longitude,latitude,cluster
0,333162,333163,8318950298181419630,2016-04-30 23:53:05,114.20,36.71,NaN
1,291991,291992,8189881002794531237,2016-04-30 23:53:05,121.34,30.72,NaN
2,160530,160531,-3879335903763469416,2016-04-30 23:53:59,122.13,40.25,NaN
3,56,57,8292388373526453818,2016-04-30 23:54:44,116.46,39.89,NaN
4,120011,120012,2346793034696706898,2016-04-30 23:55:05,118.08,24.46,NaN

In [7]:
print(pd.isnull(df['longitude'][10]))
print(pd.isnull(df['cluster'][10]))

False
True

In [12]:
1 % 2

1

In [16]:
i,j,k = 1,2, 4

for a in range(1,10):
    if a % 2 == 0:
        pass
    else:
        if a % 3 == 0:
            pass
        else:
            print(a)

1
5
7

In [8]:
no_group = 0
df['cluster'][0] = no_group 

for i in range(0, 250000):
    if pd.isnull(df['cluster'][i]) == False:
        pass
    else:
        df['cluster'][i] = no_group
        for j in range(i+1, 250000):
            if (df['device_id'][j] == df['device_id'][i]):
                pass
            else:
                if ((df['timestamp'][j] - df['timestamp'][i]).total_seconds() > 180):
                    pass
                else:
                    if (math.sqrt(math.pow(df['longitude'][j] - df['longitude'][i],2) + math.pow(df['latitude'][j] - df['latitude'][i],2)) > 0.1):
                        pass
                    else:
                        df['cluster'][j] = df['cluster'][i]
    no_group += 1

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

KeyboardInterrupt:

In [23]:
no_group = 0
df['cluster'][0] = no_group 

for i in range(0, 250000):
    if pd.isnull(df['cluster'][i]) == False:
        pass
    else:
        df['cluster'][i] = no_group
        for j in range(i+1, 250000):
            if (df['device_id'][j] != df['device_id'][i]) and \
               ((df['timestamp'][j] - df['timestamp'][i]).total_seconds() <= 180) and \
               (math.sqrt(math.pow(df['longitude'][j] - df['longitude'][i],2) + math.pow(df['latitude'][j] - df['latitude'][i],2)) <= 0.1):
                df['cluster'][j] = df['cluster'][i]
            else:
                pass
    no_group += 1

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

KeyboardInterrupt:

In [8]:
no_group = 0
df['cluster'][0] = no_group 

for i in range(0, 250000):
    if pd.isnull(df['cluster'][i]) == False:
        pass
    else:
        df['cluster'][i] = no_group
        for j in range(i+1, 250000):
            if ((df['timestamp'][j] - df['timestamp'][i]).total_seconds() > 180):
                pass
            else:
                if (df['device_id'][j] == df['device_id'][i]):
                    pass
                else:
                    if (math.sqrt(math.pow(df['longitude'][j] - df['longitude'][i],2) + math.pow(df['latitude'][j] - df['latitude'][i],2)) > 0.1):
                        pass
                    else:
                        df['cluster'][j] = df['cluster'][i]
    no_group += 1

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

KeyboardInterrupt:

In [109]:
math.sqrt(math.pow(df['longitude'][1] - df['longitude'][0],2) + math.pow(df['latitude'][1] - df['latitude'][0],2)) >= 0.1

True

In [9]:
df[df['cluster'] != np.nan]

,Unnamed: 0,event_id,device_id,timestamp,longitude,latitude,cluster
0,333162,333163,8318950298181419630,2016-04-30 23:53:05,114.20,36.71,0.0
1,291991,291992,8189881002794531237,2016-04-30 23:53:05,121.34,30.72,1.0
2,160530,160531,-3879335903763469416,2016-04-30 23:53:59,122.13,40.25,2.0
3,56,57,8292388373526453818,2016-04-30 23:54:44,116.46,39.89,3.0
4,120011,120012,2346793034696706898,2016-04-30 23:55:05,118.08,24.46,4.0
5,55,56,-3414631284970241628,2016-04-30 23:55:06,114.44,36.64,5.0
6,186147,186148,-4022940422105061059,2016-04-30 23:55:08,117.81,39.25,NaN
7,174556,174557,-6430283018891591407,2016-04-30 23:55:13,113.60,34.75,NaN
8,160531,160532,5249882969254765383,2016-04-30 23:55:34,118.03,39.44,NaN
9,239794,239795,-1168532065303398550,2016-04-30 23:56:15,118.81,32.02,NaN
10,65231,65232,7566051280927280645,2016-04-30 23:56:15,116.29,40.11,NaN
11,239915,239916,-5320544664470122582,2016-04-30 23:56:41,120.91,31.38,NaN
12,22,23,1186608308763918427,2016-04-30 23:56:43,113.58,23.55,NaN
13,160439,160440,-7789240705679370662,2016-04-30 23:56:45,113.15,23.03,NaN
14,186168,186169,6857200119156739592,2016-04-30 23:56:47,104.00,30.00,NaN
15,65380,65381,4585619300496057111,2016-04-30 23:56:47,116.33,39.76,NaN
16,266793,266794,468485580978604552,2016-04-30 23:56:49,112.84,35.50,NaN
17,160477,160478,-9186057251409486602,2016-04-30 23:56:50,103.97,30.50,NaN
18,65238,65239,5008172215967095802,2016-04-30 23:56:52,114.23,39.43,NaN
19,69405,69406,-1976764231358844252,2016-04-30 23:56:53,106.53,29.58,NaN
20,333115,333116,-6298312208561881731,2016-04-30 23:56:57,117.72,38.27,NaN
21,51,52,-805165251400681658,2016-04-30 23:57:03,105.62,27.23,NaN
22,328464,328465,1464720690909736450,2016-04-30 23:57:10,119.96,31.80,NaN
23,266707,266708,-3491449487057579071,2016-04-30 23:57:18,113.92,22.66,NaN
24,292007,292008,9032751590435469715,2016-04-30 23:57:18,114.76,38.20,NaN
25,65381,65382,1059108490518975017,2016-04-30 23:57:19,104.74,31.78,NaN
26,69423,69424,-5019693426237125362,2016-04-30 23:57:22,113.28,23.22,NaN
27,239916,239917,3477368667725561691,2016-04-30 23:57:23,108.37,22.80,NaN
28,37,38,-7694547856539765687,2016-04-30 23:57:25,114.43,30.51,NaN
29,334208,334209,7566051280927280645,2016-04-30 23:57:25,116.29,40.11,NaN
...,...,...,...,...,...,...,...
249970,291862,291863,-1838836093728125150,2016-05-07 23:54:45,120.29,31.51,NaN
249971,266599,266600,-4882714793096602370,2016-05-07 23:54:45,114.33,30.65,NaN
249972,63161,63162,-7572306077143068763,2016-05-07 23:54:47,102.73,25.06,NaN
249973,115524,115525,-5448486442796976825,2016-05-07 23:54:49,110.41,34.84,NaN
249974,28900,28901,5563127744213603471,2016-05-07 23:54:55,102.74,25.12,NaN
249975,325138,325139,-3760462351578992996,2016-05-07 23:55:01,117.00,36.62,NaN
249976,119774,119775,9194258367022977352,2016-05-07 23:55:02,115.18,29.87,NaN
249977,325067,325068,8490622669015199443,2016-05-07 23:55:02,114.34,36.10,NaN
249978,170661,170662,-5033211460860064548,2016-05-07 23:55:03,104.00,30.00,NaN
249979,115578,115579,-6190615731075717748,2016-05-07 23:55:05,113.41,22.49,NaN
249980,170662,170663,-8224497140918059574,2016-05-07 23:55:07,121.68,38.91,NaN
249981,28962,28963,1030503802431645749,2016-05-07 23:55:08,113.93,22.49,NaN
249982,215035,215036,1239496821241570342,2016-05-07 23:55:08,114.25,30.65,NaN
249983,63180,63181,-2658501971689738114,2016-05-07 23:55:11,109.35,33.85,NaN
249984,291904,291905,-4710990019666264669,2016-05-07 23:55:14,106.62,26.61,NaN
249985,150419,150420,-2227309926726571695,2016-05-07 23:55:16,113.01,28.13,NaN
249986,325246,325247,-3856204492624336851,2016-05-07 23:55:16,113.68,22.80,NaN
249987,291863,291864,-6369385624873341718,2016-05-07 23:55:19,118.04,36.80,NaN
249988,266537,266538,-8292007616209589157,2016-05-07 23:55:22,106.07,29.85,NaN
249989,115667,115668,3671656244021464361,2016-05-07 23:55:25,114.28,30.49,NaN
249990,266645,266646,1504781193071925359,2016-05-07 23:55:27,102.71,25.07,NaN
249991,28901,28902,-8972483106221612558,2016-05-07 23:55:35,112.61,26.91,NaN
249992,325247,325248,-1666194097797895898,2016-05-07 23:55:36,111.94,25.58,NaN
249993,325139,325140,-2797163923486708969,2016-05-07 23:55:45,117.15,36.16,NaN
249994,28894,28895,-4674445567034509038,2016-05-07 23:55:50,118.83,31.91,NaN
249995,325068,325069,-3903059712853419884,2016-05-07 23:55:51,109.19,34.74,NaN
249996,63154,63155,3915082290673137129,2016-05-07 23:55:57,116.39,39.91,NaN
249997,266646,266647,-4360669416573647160,2016-05-07 23:55:58,110.52,24.20,NaN
249998,239697,239698,8371894969064070025,2016-05-07 23:57:02,114.14,30.49,NaN
249999,291905,291906,8020545447067246919,2016-05-08 00:00:00,112.80,22.25,NaN

In [19]:
(df['timestamp'][69544] - df['timestamp'][1]).total_seconds()

172894.0